@import url('https://fonts.googleapis.com/css?family=Roboto');
/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
header{
    max-width: 100%;
    -webkit-box-shadow: -2px -2px 32px -1px rgba(52,179,160,1);
    -moz-box-shadow: -2px -2px 32px -1px rgba(52,179,160,1);
    box-shadow: -2px -2px 32px -1px rgba(52,179,160,1);
  }
div.container-header{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}

div.parent-logo div.container-logo{
    width: 600px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo a img{
    width: 60px;
    height: 60px;
}
div.parent-logo div.container-logo h1{
    margin: 0;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    color: 	#34b3a0;
    font-family: 'Roboto', sans-serif;
}
div.parent-logo div.container-hamburger span{
display: none;
}

div.parent-menu{
    width: 600px;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: flex-end;
  margin-top: 16px;

}
div.parent-menu nav ul li{
    list-style-type: none;
    float: right;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
 a.active{
    background-color: #34b3a0;
    color: #ffffff !important;
}
button.active{
   background-color: #34b3a0;
   color: #ffffff !important;
}
@media only screen and (min-width: 1200px) {
div.parent-logo{
    width: 600px;
}
div.parent-menu{
    width: 600px;
}

}

@media only screen and (min-width: 992px) and (max-width: 1200px){
div.container-header{
    width: 992px;
}
div.parent-logo{
    width: 392px;
}
div.parent-menu{
    width: 600px;
}

}
@media only screen and (min-width: 768px) and (max-width: 992px){
div.container-header{
    width: 100%;
}
div.parent-logo{
    width: 100%;
}
div.parent-logo {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo{
    width: 600px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}

div.parent-menu{
    width: 100%;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;
}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}

}

@media only screen and (min-width: 576px) and (max-width: 768px){
div.container-header{
    width: 100%;
}
div.parent-logo{
    width: 100%;
}
div.parent-logo {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo{
    width: 400px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}

div.parent-menu{
    width: 100%;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}

}


@media only screen and (min-width: 480px) and (max-width: 576px){
div.container-header{
    width: 100%;
}
div.parent-logo{
    width: 100%;
}
div.parent-logo {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo{
    width: 350px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;
}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}

div.parent-menu{
    width: 100%;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}

}

@media only screen and (min-width: 320px) and (max-width: 480px){
div.container-header{
    width: 100%;
}
div.parent-logo{
    width: 100%;
}
div.parent-logo {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo{
    width: 280px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}

div.parent-menu{
    width: 100%;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
div.parent-logo div.container-logo h1{
    display: none;
}
}
@media only screen and (min-width: 0px)and (max-width: 320px){
div.container-header{
    width: 100%;
}
div.parent-logo{
    width: 100%;
}
div.parent-logo {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo{
    max-width: 200px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}

div.parent-menu{
    width: 100%;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
div.parent-logo div.container-logo h1{
    display: none;
}

}
section.container-courses{
  width: 100%;
}
section.container-courses div.courses{
width: 1200px;
margin:auto;
margin-bottom:20px;
display: flex;
flex-wrap: wrap;
}
section.container-courses div.courses div.list-courses{
  width:250px;
  margin:20px;
  padding:15px;
}
div.list-courses h3{
  text-align: center;
}
section.container-courses div.courses div.list-courses:hover {
  transform: scale(1.05);
  border: 1px solid #34b3a0;
  box-shadow: 0px 0px 10px #666;
}
img.card-img-top{
  width:200px;
  margin-left:10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  text-transform: uppercase;
}
small{
  font-family: 'Roboto', sans-serif;
}
a.btn{
background-color:rgba(52, 179, 160, .8);
color:#ffffff;
padding: 15px;
font-family: 'Roboto', sans-serif;
border-radius: 5px;
text-transform: uppercase;

}
a.btn:hover{
  background-color: rgba(52, 179, 160, 1);
  color: #ffffff;
}
.btn-link{
  text-decoration: none !important;
  color: #34B39C !important;
}
@media only screen and (min-width:992px) and (max-width:1200px){
  section.container-courses div.courses{
  width: 992px;
  }
}
@media only screen and (min-width:768px) and (max-width:992px){
  section.container-courses div.courses{
  width: 768px;
  }
  section.container-courses div.courses div.list-courses{
    width:200px;
  }
  img.card-img-top{
    width:150px;
  }
}
@media only screen and (min-width:480px) and (max-width:768px){
  section.container-courses div.courses{
  width: 480px;
  }
  section.container-courses div.courses div.list-courses{
    width:200px;
  }
  img.card-img-top{
    width:150px;
  }
}
@media only screen and (min-width:320px) and (max-width:480px){
  section.container-courses div.courses{
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  section.container-courses div.courses div.list-courses{
    width:200px;
  }
  img.card-img-top{
    width:150px;
  }
}
@media only screen and (max-width:320px){
  section.container-courses div.courses{
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  section.container-courses div.courses div.list-courses{
    max-width:200px;
  }
  img.card-img-top{
    max-width:150px;
  }
}

.section-container{
  display:flex;
  flex-direction:row;
  width:96%;
  margin:auto;
  margin-top:20px;
}
@media only screen  and (max-width:768px){
  .section-container{
    flex-direction:column;
  }
  .accordion,.topic-container{
    width: 100% !important;
  }
  .accordion{
    display: none;
  }
  .topic-container{
    border:0 !important;
    margin:0 !important;
   }
   .company-title{
     display: none !important;
   }
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
